flows.json
[
    {
        "id": "d445d260.887a2",
        "type": "tab",
        "label": "WA4YA Antenna Sequencer",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e20f16a4.627318",
        "type": "RelayJ2",
        "z": "d445d260.887a2",
        "name": "Relay J2",
        "x": 1120,
        "y": 80,
        "wires": []
    },
    {
        "id": "830cd5fa.7f6fd8",
        "type": "RelayJ3",
        "z": "d445d260.887a2",
        "name": "Relay J3 fandipole",
        "x": 1130,
        "y": 200,
        "wires": []
    },
    {
        "id": "3f7960a3.fd9d9",
        "type": "RelayJ4",
        "z": "d445d260.887a2",
        "name": "Relay J4 Vertical",
        "x": 1130,
        "y": 280,
        "wires": []
    },
    {
        "id": "1330a95f.7753b7",
        "type": "RelayJ5",
        "z": "d445d260.887a2",
        "name": "Relay J5 deltaloop",
        "x": 1110,
        "y": 460,
        "wires": []
    },
    {
        "id": "sequencer_function",
        "type": "function",
        "z": "d445d260.887a2",
        "name": "Antenna Sequencer",
        "func": "// msg.payload is t14/t29/t44/t59/force\nconst tick = msg.payload;\n\nconst txMode = (flow.get('txMode') || 'even').toString();\nconst txA = (flow.get('txAntenna') || 'deltaloop').toString();\nconst rxA = (flow.get('rxAntenna') || 'deltaloop').toString();\nlet action = null;\nconst out = [];\n\nif (tick === 'force'){\n    out.push({payload:true, topic: txA});\n    out.push({payload:true, topic: rxA});\n    return out;\n}\n\nif (txMode === 'even') {\n    if (tick === 't59' || tick === 't29') action = 'toTX';\n    else if (tick === 't14' || tick === 't44') action = 'toRX';\n} else if (txMode === 'odd'){\n    if (tick === 't14' || tick === 't44') action = 'toTX';\n    else if (tick === 't29' || tick === 't59') action = 'toRX';\n}\n\nif (action === 'toTX') {\n    out.push({payload:true, topic: txA});\n} else if (action === 'toRX') {\n    \n    out.push({payload:true, topic: rxA});\n}\nreturn out;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 300,
        "wires": [
            [
                "invert_vertical",
                "invert_fandipole",
                "invert_deltaloop",
                "a7365d78ce29d4ff"
            ]
        ]
    },
    {
        "id": "invert_vertical",
        "type": "function",
        "z": "d445d260.887a2",
        "name": "Vertical Output",
        "func": "// Only pass messages for vertical\nif(msg.topic === 'vertical'){\n    return [{payload: false}, {payload: true}]; // first = Invert, second = Relay\n} else { return null; }",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 200,
        "wires": [
            [
                "e20f16a4.627318",
                "830cd5fa.7f6fd8"
            ],
            [
                "3f7960a3.fd9d9",
                "1330a95f.7753b7"
            ]
        ]
    },
    {
        "id": "invert_fandipole",
        "type": "function",
        "z": "d445d260.887a2",
        "name": "Fandipole Output",
        "func": "// Only pass messages for fandipole\nif(msg.topic === 'fandipole'){\n    return [{payload: false}, {payload: true}];\n} else { return null; }",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 80,
        "wires": [
            [
                "e20f16a4.627318",
                "3f7960a3.fd9d9"
            ],
            [
                "830cd5fa.7f6fd8",
                "1330a95f.7753b7"
            ]
        ]
    },
    {
        "id": "invert_deltaloop",
        "type": "function",
        "z": "d445d260.887a2",
        "name": "DeltaLoop Output",
        "func": "// Only pass messages for deltaloop\nnode.log(\"deltaloop: \" + msg);\nif(msg.topic === 'deltaloop'){\n   \n    return [{payload: false}, {payload: true}, {payload: msg.payload}];\n} else { return null; }",
        "outputs": 3,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 400,
        "wires": [
            [
                "3f7960a3.fd9d9",
                "1330a95f.7753b7",
                "830cd5fa.7f6fd8",
                "e20f16a4.627318"
            ],
            [],
            []
        ]
    },
    {
        "id": "2c338e1e4806ba94",
        "type": "inject",
        "z": "d445d260.887a2",
        "name": "Set RX = vertical",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "vertical",
        "payloadType": "str",
        "x": 120,
        "y": 80,
        "wires": [
            [
                "ddfce09080e724f2"
            ]
        ]
    },
    {
        "id": "cce2eb891f141efe",
        "type": "inject",
        "z": "d445d260.887a2",
        "name": "Set RX = fandipole",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "fandipole",
        "payloadType": "str",
        "x": 130,
        "y": 120,
        "wires": [
            [
                "ddfce09080e724f2"
            ]
        ]
    },
    {
        "id": "8a803f047be41daa",
        "type": "inject",
        "z": "d445d260.887a2",
        "name": "Set RX = deltaloop",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "deltaloop",
        "payloadType": "str",
        "x": 130,
        "y": 160,
        "wires": [
            [
                "ddfce09080e724f2"
            ]
        ]
    },
    {
        "id": "ddfce09080e724f2",
        "type": "function",
        "z": "d445d260.887a2",
        "name": "Store RX Antenna",
        "func": "flow.set('rxAntenna', msg.payload);\nnode.status({fill:\"green\", shape:\"dot\", text:\"RX=\"+msg.payload});\nreturn {payload:\"RX antenna set to \"+msg.payload};",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 120,
        "wires": [
            [
                "69cadbfd426e3327"
            ]
        ]
    },
    {
        "id": "9c4600b6e8e26fe7",
        "type": "inject",
        "z": "d445d260.887a2",
        "name": "Set TX = vertical",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "vertical",
        "payloadType": "str",
        "x": 120,
        "y": 220,
        "wires": [
            [
                "dd2287142a363414"
            ]
        ]
    },
    {
        "id": "9c3f3fd16725fc37",
        "type": "inject",
        "z": "d445d260.887a2",
        "name": "Set TX = fandipole",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "fandipole",
        "payloadType": "str",
        "x": 130,
        "y": 260,
        "wires": [
            [
                "dd2287142a363414"
            ]
        ]
    },
    {
        "id": "6eb1209d25ab88e5",
        "type": "inject",
        "z": "d445d260.887a2",
        "name": "Set TX = deltaloop",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "deltaloop",
        "payloadType": "str",
        "x": 130,
        "y": 300,
        "wires": [
            [
                "dd2287142a363414"
            ]
        ]
    },
    {
        "id": "dd2287142a363414",
        "type": "function",
        "z": "d445d260.887a2",
        "name": "Store TX Antenna",
        "func": "flow.set('txAntenna', msg.payload);\nnode.status({fill:\"blue\", shape:\"dot\", text:\"TX=\"+msg.payload});\nreturn {payload:\"TX antenna set to \"+msg.payload};",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 260,
        "wires": [
            [
                "69cadbfd426e3327"
            ]
        ]
    },
    {
        "id": "2989f9dd2c1edfe2",
        "type": "inject",
        "z": "d445d260.887a2",
        "name": "Set TX Interval = even",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "even",
        "payloadType": "str",
        "x": 140,
        "y": 360,
        "wires": [
            [
                "3d417510ee22c549"
            ]
        ]
    },
    {
        "id": "a9e62920f9ea88d7",
        "type": "inject",
        "z": "d445d260.887a2",
        "name": "Set TX Interval = odd",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "odd",
        "payloadType": "str",
        "x": 140,
        "y": 400,
        "wires": [
            [
                "3d417510ee22c549"
            ]
        ]
    },
    {
        "id": "3d417510ee22c549",
        "type": "function",
        "z": "d445d260.887a2",
        "name": "Store TX Interval Mode",
        "func": "flow.set('txMode', msg.payload);\nnode.status({fill:\"yellow\", shape:\"dot\", text:\"Mode=\"+msg.payload});\nreturn {payload:\"TX interval mode set to \"+msg.payload};",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 380,
        "wires": [
            [
                "69cadbfd426e3327"
            ]
        ]
    },
    {
        "id": "69cadbfd426e3327",
        "type": "debug",
        "z": "d445d260.887a2",
        "name": "Debug Settings",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 540,
        "wires": []
    },
    {
        "id": "9fa8e7b728da7926",
        "type": "inject",
        "z": "d445d260.887a2",
        "name": "switch antenna immediately",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "force",
        "payloadType": "str",
        "x": 160,
        "y": 20,
        "wires": [
            [
                "sequencer_function"
            ]
        ]
    },
    {
        "id": "f294c1e97a31424f",
        "type": "comment",
        "z": "d445d260.887a2",
        "name": "North-South",
        "info": "",
        "x": 1170,
        "y": 160,
        "wires": []
    },
    {
        "id": "fca6709baa27cd6b",
        "type": "comment",
        "z": "d445d260.887a2",
        "name": "East-West",
        "info": "",
        "x": 1140,
        "y": 500,
        "wires": []
    },
    {
        "id": "cron_plus_node",
        "type": "cronplus",
        "z": "d445d260.887a2",
        "name": "Antenna Sequencer Scheduler",
        "outputField": "",
        "timeZone": "",
        "storeName": "",
        "commandResponseMsgOutput": "output1",
        "defaultLocation": "",
        "defaultLocationType": "default",
        "outputs": 1,
        "options": [
            {
                "name": "t59",
                "topic": "t59",
                "payloadType": "str",
                "payload": "t59",
                "expressionType": "cron",
                "expression": "59 * * * * *",
                "location": "",
                "offset": "0",
                "solarType": "all",
                "solarEvents": "sunrise,sunset"
            },
            {
                "name": "t14",
                "topic": "t14",
                "payloadType": "str",
                "payload": "t14",
                "expressionType": "cron",
                "expression": "14 * * * * *",
                "location": "",
                "offset": "0",
                "solarType": "all",
                "solarEvents": "sunrise,sunset"
            },
            {
                "name": "t29",
                "topic": "t29",
                "payloadType": "str",
                "payload": "t29",
                "expressionType": "cron",
                "expression": "29 * * * * *",
                "location": "",
                "offset": "0",
                "solarType": "all",
                "solarEvents": "sunrise,sunset"
            },
            {
                "name": "t44",
                "topic": "t44",
                "payloadType": "str",
                "payload": "t44",
                "expressionType": "cron",
                "expression": "44 * * * * *",
                "location": "",
                "offset": "0",
                "solarType": "all",
                "solarEvents": "sunrise,sunset"
            }
        ],
        "x": 530,
        "y": 40,
        "wires": [
            [
                "sequencer_function"
            ]
        ]
    },
    {
        "id": "a7365d78ce29d4ff",
        "type": "debug",
        "z": "d445d260.887a2",
        "name": "Debug sequencer",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 500,
        "wires": []
    },
    {
        "id": "cc7ce2492eb2aacb",
        "type": "wsjt-x-decode",
        "z": "d445d260.887a2",
        "name": "",
        "x": 180,
        "y": 520,
        "wires": [
            [
                "404c1da5b635b298"
            ]
        ]
    },
    {
        "id": "c01c996a2908a0ef",
        "type": "udp in",
        "z": "d445d260.887a2",
        "name": "",
        "iface": "eth0",
        "port": "2237",
        "ipv": "udp4",
        "multicast": "true",
        "group": "224.0.0.73",
        "datatype": "buffer",
        "x": 130,
        "y": 460,
        "wires": [
            [
                "cc7ce2492eb2aacb"
            ]
        ]
    },
    {
        "id": "404c1da5b635b298",
        "type": "function",
        "z": "d445d260.887a2",
        "name": "function 1",
        "func": "if (msg.payload.type === 'status'){\n    var out = [];\n    out.push({f: msg.payload.freqency});\n    return out;\n}\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 140,
        "y": 620,
        "wires": [
            [
                "80af70dba1bfe5a4"
            ]
        ]
    },
    {
        "id": "80af70dba1bfe5a4",
        "type": "debug",
        "z": "d445d260.887a2",
        "name": "Debug Settings",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 640,
        "wires": []
    }
]